/* @import url('https://fonts.googleapis.com/css?family=Special+Elite'); */
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');



body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style-type: none;
}

h2 {
  font-family: sans-serif; 
  margin-top: 0;
  padding-top: 30px;
}