.page-home {

    display: flex;
    flex-wrap: wrap;
    background-image: url(../../images/homepage@1900px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: calc(100vh - 67px);
    overflow: hidden;
}
@media screen and (min-width: 780px) {
  .page-home{
    height: calc(100vh - 50px);
  }
}

.homeBox {

    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 18%;
    padding-left: 5%;
    padding-right: 5%;
}
